alabaster==0.7.16
Babel==2.15.0
certifi==2024.6.2
charset-normalizer==3.3.2
colorama==0.4.6
comtypes==1.4.4
deepdiff==7.0.1
docutils==0.21.2
idna==3.7
imagesize==1.4.1
Jinja2==3.1.4
MarkupSafe==2.1.5
networkx==3.3
numpy==1.26.4
ordered-set==4.1.0
packaging==24.1
pandapower==2.14.7
pandas==2.2.2
py-dss-interface==2.0.4
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
scipy==1.13.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.3.7
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
tqdm==4.66.4
tzdata==2024.1
urllib3==2.2.2
